<p id="notice"><%= notice %></p>

<h1>Listing Segment Collections</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @segment_collections.each do |segment_collection| %>
      <tr>
        <td><%= link_to 'Show', segment_collection %></td>
        <td><%= link_to 'Edit', edit_segment_collection_path(segment_collection) %></td>
        <td><%= link_to 'Destroy', segment_collection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Segment collection', new_segment_collection_path %>
